*{
    background-color: burlywood;
    color: brown;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#chat-container{
    max-width: 600px;
    margin: 30px auto;
    boder: 1px solid #ddd;
    box-shadow:  1px 3px 5px rgba(0,0,0, .5);
}

#chat-window{
    padding: 14px 0;
    margin:  0 20px;
    border-bottom:  1px solid magenta;
    color: bisque;
}

#output p{
    color:  gray;
    padding:  14px 0;
    margin: 0 20px;
}

#action{
    padding: 14px 0;
    margin: 0 20px;
    border:  1px solid #e9e9e9;
    columns: #555;
}

input{
    padding: 10px 20px;
    box-sizing: border-box;
    border: 0;
    background: #eee;
    display:  block;
    width: 100%;
}

button{
    background: #575ed8;
    color:  #fff;
    font-size: 18px;
    border: 0;
    padding: 12px 0;
    width: 100%;
    border-radius: 0 0 2px 2px;
}